* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Top Header */
.top-header {
  background-color: #555;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.top-header .social-links a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.navbar .nav-links {
  display: flex;
  list-style: none;
}

.navbar .nav-links li {
  margin: 0 15px;
}

.navbar .nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.5s ease;
}

.navbar .nav-links a:hover {
  color: rgb(227, 191, 11);
  text-decoration: underline;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 40px;
  margin-right: 10px;
}

.button {
  margin-right: 10%;
  background-color: #ffffff00;
  color: black;
  width: 10.7em;
  height: 2.9em;
  border: rgb(227, 191, 11) 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

.button:hover {
  background-color: rgb(227, 191, 11);
  color: black;
}

.button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em
}

.menu-toggle {
  display: none;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}


/* Form Styling */
.form-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  margin: 50px auto;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  width: 100%;
  background: rgb(227, 191, 11);
  color: white;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: rgba(227, 191, 11, 0.55);
}